#Database name
DB_NAME=name_here

#Database user
DB_USER=name_here

#Database password
DB_PASSWORD=name_here

#Host for docker (or localhost)
DB_HOST=name_here

#Cors origins for testing
CORS_ORIGINS=urls_here

#Requirement for SSLMODe (disable or require)
DB_SSLMODE=disable